.menu-bar{
    background-color: #fff;
    box-shadow: 1px 1px 7px 0 dimgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.sizeBox{
    width: 100%;
    height: 50px;
}
h1,h2,h3,p,ul,a,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-bar .btn{
    padding: 0;
}
.menu-bar li{
    float: left;
}
.menu-bar ul li a{
    text-decoration: none;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
}.menu-bar ul li a:hover{
    color:rgb(95, 226, 43);
}
.menu-bar ul:nth-child(2){
    float: right;
}

.menu-bar li.logo a{
    padding: 0;
}
.menu-bar ul li a img{
    height: 50px;
    margin-top: 7px;
}
.menu-bar ul li.btn{
    display: none;
}

.slide{
    background-color: crimson;
    height: 700px;
    padding: 0;
    position: relative;
}
.slide-img{
    
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: relative;
    
   
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.btn-shop{
    position: absolute;
    top: 50%;
    left: 60%;
    background-color: rgba(220, 20, 60, 0.747);
    padding: 20px;
    border-radius: 8px;
    transform: translateX(-70%)
}
.item-box{
    height: 300px;
    margin-top: 10px;
    padding: 0px 5px;
    
   
}
.box-1{
    height: 100%;
    width: 100%;
    background-color: rgb(220, 220, 215);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
   
}
.box-1 img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   transition: 0.3s;
  
}
.box-1 h1{
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 15px;
    color: white;
    background-color: rgba(255, 166, 0, 0.586);
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}
.box-1:hover img{
    transform: scale(1.1);
}
.box-1:hover h1{
    background-color: orange;
}
.header-box{
    height: 100px;
    margin-top: 10px;
    padding: 15px;
}
.header-box h1{
    text-align: center;
    color: black;
    
}
.header-box p{
    text-align: center;
    color: black;
    font-size: 22px;
}
.header-bar{
  
    height: 350px;
    margin-top: 10px;
    padding: 3px;
}
.header-bar .bar-box{
    width: 100%;
    height: 100%;
   
}
.img-box{
    width: 100%;
    height: 60%;
    position: relative;
}
.img-box h1{
    font-size: 10px;
    color: white;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: rgb(47, 189, 255);
    padding: 5px;
    position: absolute;
   
   
}
.img-box:hover h1{
    color: black;
}
.img-box .btn-f{
    font-size: 20px;
    color: white;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background-color: #3b5998;
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
   
}

.header-bar .bar-box:hover .btn-f{
    opacity: 1;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
   
}
.img-box:hover img{
    border: 1px solid rgb(20, 187, 220);
   
}


.txt-box{
    width: 100%;
    height: 40%;
    text-align: center;
   
}
.txt-box p{
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.ADD h1{
    background-color: rgba(255, 166, 0, 0.778);
    font-size: 15px;
    color: rgb(149, 149, 149);
    display: inline-block;
    border-radius: 5px;
    padding:4px 8px;
    right: 30px;
}
.ADD:hover h1{
    background-color:orange;
}
.txt-box span.dis{
    color:  red;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: bold;

}
.txt-box span.dis1{
    font-size: 15px;
    color: blueviolet;
    font-weight: bold;
}
.txt-box ul li{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
   
}
.txt-box ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.txt-box ul li:hover{
    border: 1px solid crimson;
}


/* Exstra large device (desktop,1200px and up)(xl) */
@media(max-width:1200px)
{
    .ADD h1{
        background-color: rgba(236, 154, 14, 0.829);
        font-size: 12px;
        color: white;
        display: inline-block;
        border-radius: 2px;
        top: 0;
        padding:  10px 30px;
        margin-top: 4px;
        right: 30px;
        margin-bottom: 10px;
    }
    .ADD:hover h1{
        background-color: orange;
    }
}
/* large device(desktop,992px and up)(lg)  */
@media(min-width:992px) and (max-width:1199.98px) {
    .slide{
        background-color: crimson;
        height: 500px;
        padding: 0;
        position: relative;
    }
    .item-box{
        height: 280px;
        margin-top: 10px;
        padding: 0px 5px;
    }
    .box-1 h1{
        width: 50%;
    }
    .box-1{
        height: 250px;
    }
    .header-bar{
  
        height: 420px;
        
    }
  
    .ADD h1{
        background-color: rgba(236, 154, 14, 0.829);
        font-size: 12px;
        color: white;
        display: inline-block;
        border-radius: 2px;
        top: 0;
       
        margin-top: 4px;
        right: 30px;
        margin-bottom: 10px;
    }
    .ADD:hover h1{
        background-color: orange;
    }
    .img-box .btn-f{
        right: 0;
    }
   
}
/* large device(tepblet,768px and up)(md) */
@media(min-width:768px) and (max-width:991.98px) 
{
    .menu-bar ul li.btn{
        display: block;
    }
    .menu-bar ul:nth-child(1) li:not(.btn){
        display: none;
    }
    .slide{
        background-color: crimson;
        height: 400px;
        padding: 0;
        position: relative;
    }
    .item-box{
        height: 250px;
        margin-top: 10px;
        padding: 0px 5px;
    }
    .box-1{
        height: 230px;
    }
    .box-1 h1{
        width: 50%;
    }
    .header-bar{
  
        height: 369px;
        
    }
    .ADD h1{
        background-color: rgba(236, 154, 14, 0.829);
        font-size: 12px;
        color: white;
        display: inline-block;
        border-radius: 2px;
        top: 0;
        padding:  10px 30px;
        margin-top: 4px;
        right: 30px;
        margin-bottom: 10px;
    }
    .ADD:hover h1{
        background-color: orange;
    }
    .img-box .btn-f{
        right: 0;
    }
    
    

}
/* large device (lansdcap phone,576px and up)(sm) */
@media(min-width:576px) and (max-width:767.98px) 
{
    .menu-bar ul li.btn{
        display: block;
    }
    .menu-bar ul:nth-child(1) li:not(.btn){
        display: none;
    }
    .slide{
        background-color: crimson;
        height:350px;
        padding: 0;
        position: relative;
    }
    .item-box{
        height: 260px;
        margin-top: 10px;
        padding: 0px 5px;
    }
    .header-bar{
  
        height: 369px;
        
    }
    .ADD h1{
        background-color: rgba(253, 162, 6, 0.745);
        font-size: 12px;
        color: white;
        display: inline-block;
        border-radius: 2px;
        top: 0;
        padding: 10px 40px;
        margin-top: 4px;
        right: 30px;
        margin-bottom: 10px;
    }
    .ADD:hover h1{
        background-color:  orange;
        
    }
    .img-box .btn-f{
        right: 0;
    }
    
   
  
    
 
}
    

/* Exstra small device(portrit phone,less than 750px) (col)*/
@media (max-width:575.98px)
{
    .menu-bar ul li.btn{
        display: block;
    }
    .menu-bar ul:nth-child(1) li:not(.btn){
        display: none;
        display: 0;
    }
    .menu-bar ul li a{
        font-size: 14px;
        padding: 13px;
      
    } 
    .slide{
        background-color: crimson;
        height: 250px;
        padding: 0;
        position: relative;
    }
    .item-box{
        height: 230px;
        margin-top: 10px;
        padding: 0px 5px;
    }
    .box-1 h1{
        width: 50%;
    }
    .header-bar{
        height: 420px;
    }
    
   
    

}
   